<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GitHub Finder</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <form class="navbar-form" role="search">
          <div class="input-group add-on">
            <input
              class="form-control"
              placeholder="Search Users"
              name="srch-term"
              id="srch-term"
              type="text"
              (keyup)="filter($event)"
            />
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class=" card col-sm-4 text-center" *ngFor="let item of users">
      <div clas=" border-right-0 ">
        <img src="{{ item.avatar_url }}" class="round-img" style="width:60px" />
        <h3>{{ item.login }}</h3>

        <a href="{{ item.html_url }}" class="btn btn-dark btn-sm my-1">
          More
        </a>
      </div>
    </div>
  </div>

  <!-- /container -->
</div>
